@{
    Layout = null;
}
    <!DOCTYPE html >
<html>
<head>
    <me ta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="text-center">
            <h3>@ViewBag.Greeting 4el</h3>
            <a asp-action="RsvpForm" class="btn btn-primary">RSVP</a>
        </div>
    </body>
</html>
